extends layout
block content
 .page-header
  .page-header-overlay
   .container
    .row
      .col-12
        header.entry-header
          h1 #{entryHeader} 
        // .entry-header
      // .col
    // .row
    // .container
    // .page-header-overlay
    // .page-header
 .container
  .row
    .col-12
      .breadcrumbs
        ul.flex.flex-wrap.align-items-center.p-0.m-0
          li
            a(href='#')
              i.fa.fa-home
              |  Home
          li Blog Grid
      // .breadcrumbs
    // .col
  // .row
  .row
    .col-12.col-lg-8
      .blog-posts
        .row.mx-m-25
          .col-12.col-md-6.px-25
            .blog-post-content
              figure.blog-post-thumbnail.position-relative.m-0
                a(href='#')
                  img(src='images/b-1.jpg', alt='')
                .posted-date.position-absolute
                  .day 23
                  .month mar
              // .blog-post-thumbnail
              .blog-post-content-wrap
                header.entry-header
                  h2.entry-title
                    a(href='#') #{articleName1}
                  .entry-meta.flex.align-items-center
                    .post-author
                      a(href='#') #{articleAuthor1} 
                    .post-comments
                      a(href='#') 02 Comments
                  // .entry-meta
                // .entry-header
                .entry-content
                  p
                    | #{articleContent1}
                // .entry-content
              // .blog-post-content-wrap
            // .blog-post-content
          // .col
          .col-12.col-md-6.px-25
            .blog-post-content
              figure.blog-post-thumbnail.position-relative.m-0
                a(href='#')
                  img(src='images/b-2.jpg', alt='')
                .posted-date.position-absolute
                  .day 23
                  .month mar
              // .blog-post-thumbnail
              .blog-post-content-wrap
                header.entry-header
                  h2.entry-title
                    a(href='#') #{articleName2}
                  .entry-meta.flex.align-items-center
                    .post-author
                      a(href='#') #{articleAuthor2} 
                    .post-comments
                      a(href='#') 02 Comments
                  // .entry-meta
                // .entry-header
                .entry-content
                  p
                    | #{articleContent2}
                // .entry-content
              // .blog-post-content-wrap
            // .blog-post-content
          // .col
          .col-12.col-md-6.px-25
            .blog-post-content
              figure.blog-post-thumbnail.position-relative.m-0
                a(href='#')
                  img(src='images/b-3.jpg', alt='')
                .posted-date.position-absolute
                  .day 23
                  .month mar
              // .blog-post-thumbnail
              .blog-post-content-wrap
                header.entry-header
                  h2.entry-title
                    a(href='#') #{articleName3}
                  .entry-meta.flex.align-items-center
                    .post-author
                      a(href='#') #{articleAuthor3} 
                    .post-comments
                      a(href='#') 02 Comments
                  // .entry-meta
                // .entry-header
                .entry-content
                  p
                    | #{articleContent3}
                // .entry-content
              // .blog-post-content-wrap
            // .blog-post-content
          // .col
          .col-12.col-md-6.px-25
            .blog-post-content
              figure.blog-post-thumbnail.position-relative.m-0
                a(href='/single-post')
                  img(src='images/b-4.jpg', alt='')
                .posted-date.position-absolute
                  .day 23
                  .month mar
              // .blog-post-thumbnail
              .blog-post-content-wrap
                header.entry-header
                  h2.entry-title
                    a(href='/single-post') #{articleName4}
                  .entry-meta.flex.align-items-center
                    .post-author
                      a(href='/single-post') #{articleAuthor4} 
                    .post-comments
                      a(href='#') 02 Comments
                  // .entry-meta
                // .entry-header
                .entry-content
                  p
                    | #{articleContent4}
                // .entry-content
              // .blog-post-content-wrap
            // .blog-post-content
          // .col
          .col-12.col-md-6.px-25
            .blog-post-content
              figure.blog-post-thumbnail.position-relative.m-0
                a(href='#')
                  img(src='images/b-5.jpg', alt='')
                .posted-date.position-absolute
                  .day 23
                  .month mar
              // .blog-post-thumbnail
              .blog-post-content-wrap
                header.entry-header
                  h2.entry-title
                    a(href='#') #{articleName5}
                  .entry-meta.flex.align-items-center
                    .post-author
                      a(href='#') #{articleAuthor5}
                    .post-comments
                      a(href='#') 02 Comments
                  // .entry-meta
                // .entry-header
                .entry-content
                  p
                    | #{articleContent5}
                // .entry-content
              // .blog-post-content-wrap
            // .blog-post-content
          // .col
          .col-12.col-md-6.px-25
            .blog-post-content
              figure.blog-post-thumbnail.position-relative.m-0
                a(href='#')
                  img(src='images/b-6.jpg', alt='')
                .posted-date.position-absolute
                  .day 23
                  .month mar
              // .blog-post-thumbnail
              .blog-post-content-wrap
                header.entry-header
                  h2.entry-title
                    a(href='#') #{articleName6}
                  .entry-meta.flex.align-items-center
                    .post-author
                      a(href='#') #{articleAuthor6} 
                    .post-comments
                      a(href='#') 02 Comments
                  // .entry-meta
                // .entry-header
                .entry-content
                  p
                    | #{articleContent6}
                // .entry-content
              // .blog-post-content-wrap
            // .blog-post-content
          // .col
        // .blog-posts
      // .col
      .pagination.flex.flex-wrap.justify-content-between.align-items-center
        .col-12.col-lg-4.order-2.order-lg-1.mt-3.mt-lg-0
          ul.flex.flex-wrap.align-items-center.order-2.order-lg-1.p-0.m-0
            li.active
              a(href='#') 1
            li
              a(href='#') 2
            li
              a(href='#') 3
            li
              a(href='#')
                i.fa.fa-angle-right
        .col-12.flex.justify-content-start.justify-content-lg-end.col-lg-8.order-1.order-lg-2
          .pagination-results.flex.flex-wrap.align-items-center
            p.m-0 Showing 1&ndash;3 of 12 results
            form
              select
                option Show: 06
                option Show: 12
                option Show: 18
                option Show: 24
          // .pagination-results
      // .pagination
    // .col
    .col-12.col-lg-4
      .sidebar
        .search-widget
          form.flex.flex-wrap.align-items-center
            input(type='search', placeholder='Search...')
            button.flex.justify-content-center.align-items-center(type='submit')
              i.fa.fa-search
          // .flex
        // .search-widget
        .cat-links
          h2 Categories
          ul.p-0.m-0
            li
              a(href='#') Business
            li
              a(href='#') Design
            li
              a(href='#') Marketing
            li
              a(href='#') MBA Courses
            li
              a(href='#') Technology
            li
              a(href='#') Web Development
        // .cat-links
        .latest-courses
          h2 Latest Courses
          ul.p-0.m-0
            li.flex.flex-wrap.justify-content-between.align-items-start
              img(src='images/t-1.jpg', alt='')
              .content-wrap
                h3
                  a(href='#') The Complete Financial Analyst Training
                .course-cost.free-cost Free
              // .content-wrap
            li.flex.flex-wrap.justify-content-between.align-items-start
              img(src='images/t-2.jpg', alt='')
              .content-wrap
                h3
                  a(href='#')
                    | Complete Java
                    | Masterclass
                .course-cost.free-cost Free
              // .content-wrap
            li.flex.flex-wrap.justify-content-between.align-items-start
              img(src='images/t-3.jpg', alt='')
              .content-wrap
                h3
                  a(href='#') The Complete Digital Marketing Course
                .course-cost $24
              // .content-wrap
            li.flex.flex-wrap.justify-content-between.align-items-start
              img(src='images/t-4.jpg', alt='')
              .content-wrap
                h3
                  a(href='#')
                    | Photoshop CC 2018
                    | MasterClass
                .course-cost $18
              // .content-wrap
        // .latest-courses
        .ads
          img(src='/images/ads.jpg', alt='ads')
        // .ads
        .popular-tags
          h2 Popular Tags
          ul.flex.flex-wrap.align-items-center.p-0.m-0
            li
              a(href='#') Creative
            li
              a(href='#') Unique
            li
              a(href='#') Photography
            li
              a(href='#') ideas
            li
              a(href='#') Wordpress Template
            li
              a(href='#') startup
        // .popular-tags
      // .sidebar
    // .col
    // .row
    // .container
   
